.gradient-button {
    font-size: 12px;
    padding: 20px;
    background: linear-gradient(to right, #0B7FFE, #000000);
    color: white;
    text-align: center !important;
    margin-top: -10px;
    border: none;
    position: relative;
    overflow: hidden;
    transition: color 0.5s ease, background 0.5s ease;
    z-index: 1;
}

.responsive-logo {
    width: 100%;
    height: 82px !important;
    /* Maintain aspect ratio */
}

@media (max-width: 768px) {
    .responsive-logo {
        width: 80px !important;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .responsive-logo {
        width: 200px !important;
        height: 40px;
    }
}

.gradient-button:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #0B7FFE, #000000);
    transition: left 0.5s ease;
    z-index: 0;
}

.gradient-button:hover:before {
    left: 0;
}

.gradient-button span {
    position: relative;
    z-index: 1;
    color: white;
    transition: color 0.5s ease;
}

.gradient-button i {
    position: relative;
    z-index: 1;
    transition: color 0.5s ease;
    color: white;
}

.service {
    max-width: 100%;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 20px;
    text-align: center;
    transition: box-shadow 0.5s ease, transform 0.5s ease;
    transform: translateY(-80px);
    position: relative;
}


.service .image img {
    border-radius: 10px;
    max-width: 100%;
}

.service .title {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 18px;
    position: relative;
    z-index: 1;
    color: black;
    background: linear-gradient(to right, black 50%, #0b7ffe 50%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    transition: background-position 10s ease;
    background-size: 200% 100%;
    background-position: 0% 0%;
}
.service:hover .title {
    background-position: 100% 0%;
}


.responsive-logo{
    height: 80px;
}

@media (max-width: 768px) {
    .service-wrapper {
        margin-bottom: 20px;
    }

    .service {
        max-width: 100%;
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .count-number .counter {
        font-size: 30px;
    }

    .section-title-wrapper {
        text-align: center;
    }

    .section-title .title {
        font-size: 24px;
    }
    .responsive-logo{
        height: 50px !important;
        max-width: 150px !important;

    }
    .bgImgContact {
        height: 200px !important; 
        width: auto;
        max-width: 100%;
        background-size: cover;
        background-position: center;
        margin-top: 150px !important;
        margin-left: 0px !important;
    }
    footer{
        margin-bottom:30px !important;
    }
   .contents{
        width:80% !important;
    }
}

@media (max-width: 480px) {
    .service {
        max-width: 100%;
        padding: 10px;
    }

    .count-number .counter {
        font-size: 24px;
    }

    .section-title .title {
        font-size: 20px;
    }
}

.rounder-lg {
    border-radius: 10px;
}

.text-center {
    text-align: center;
}

.color-gray {
    color: #888;
}

.mb--0 {
    margin-bottom: 0;
}

.image-container {
    max-width: 100%;
    height: 400px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (max-width: 768px) {
    .image-container {
        height: 300px;
    }

    .service {
        max-width: 65%;
        padding: 40px;
        transform: translateY(0);
    }

    .service .title {
        font-size: 16px;
    }

    .service:hover .title {
        background-position: 0% 0%;
    }
}

.particles_css {
    background-image: url('../../img/particles-2.png');
    height: 500px;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
}

.form-control {
    color: #233242 !important;
}

.form-control::-moz-placeholder {
    opacity: 0.5;
}

.form-control::placeholder {
    opacity: 0.5;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #fff;
    cursor: no-drop;
}

.form-control:not(textarea) {
    height: 55px;
}

textarea.form-control {
    height: 140px;
}

.form-control:focus {
    border-color: #51B56D;
}

.form-control:hover {
    border-color: #0b7ffe !important;
}

.form-control:active {
    border-color: #0b7ffe !important;
}

.form-group {
    position: relative;
    margin-top: 8px;
}

.form-group label {
    position: absolute;
    background-color: #fff;
    top: -13px;
    left: 12px;
    padding: 0 9px;
}

.form-label {
    margin-bottom: 0.5rem;
}

.col-form-label {
    padding-top: calc(0.375rem + 1px);
    padding-bottom: calc(0.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
}

.col-form-label-lg {
    padding-top: calc(0.5rem + 1px);
    padding-bottom: calc(0.5rem + 1px);
    font-size: 1.25rem;
}

.col-form-label-sm {
    padding-top: calc(0.25rem + 1px);
    padding-bottom: calc(0.25rem + 1px);
    font-size: 0.875rem;
}

.form-text {
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: #6c757d;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: #ffff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (max-width: 991px) {
    .contact-info {
        padding-left: 0;
    }
}

#moreContent {
    display: none;
}

.highlight {
    cursor: pointer;
    color: #0b7ffe;
    text-decoration: underline;
}

.team-image {
    height: 300px;
}
.bgContact {
    background-image: url('../../img/mobile.png');
    height: 350px;
    width: 100%;
    background-position: center;
    background-size: cover;
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.no-gutters > .col-md-4, .no-gutters > .col-md-8 {
    padding-right: 0;
    padding-left: 0;
}
.bgImgContact {
    height: 300px; 
    width: auto;
    max-width: 100%;
    background-size: cover;
    background-position: center;
    margin-top: 100px;
    margin-left: 20px;
}
.contactTitle{
    font-size: 17px !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800 !important;
}
.contactPara{
    font-size: 8px !important;
    color: black !important;
}
.contact_div {
    background: linear-gradient(to top, #F6F9FF, #ffffff);
    width: 100%;
    border-radius: 50px;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically if needed */
}
.form-div{
    width: 80%;
    padding: 20px;
    box-sizing: border-box; /* Ensures padding is included in width */
}
.form-control::placeholder {
    color: #000000 !important; /* Change to your desired color */
    opacity: 1; /* Ensure placeholder is fully opaque */
    font-size: 12px;
}